/* nice_nano_v2.overlay */

/ {
    behaviors {
        ext_power: ext_power {
            compatible = "zmk,behavior-ext-power";
            label = "ext_power";
            #binding-cells = <1>;
            // Set initial power state to off
            initial-state = <EP_OFF>;
        };
    };
};
